
h1, h2, h3, h4{
    line-height: 1.25;
  }
  
  h1{color: #060E45;}
  
  h2{color: #BF032B;}
  
  h3{color: #060E45;}
  
  h2, h3{
    font-size: 1.5rem;
  }
  
  button{
    font-family: 'Lora', serif;
  }
  
  p{
    font-size: 1rem; 
    padding-right: 1rem;
    font-family: 'Roboto', sans-serif;
  }
  
  header{
    margin-top: 4rem;
    text-align: center;
    border-bottom: solid 1px #02265D;
  }
  
  main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 2rem;
  }
  
  section {
    min-height: 200px;
    padding: 4% 0;
  }
  
  .tech-icon {height: 50px;}
  
  
  /* --------------responsive design-------------------- */
  @media (min-width: 465px) {
  
    main{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    }
  
  }
  
  @media (min-width: 950px) {
    main{
      width: 65%;
      margin-left: auto;
      margin-right: auto;
      }
  
  }
  