body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lora', serif;
  font-size: 20px;
  color: #000000;
  line-height: 1.5;
  letter-spacing: .1em;
  background-color: #EDF0F5
}

h1, h2, h3, h4{
  line-height: 1.25;
}

h1{color: #060E45;}

h2{color: #BF032B;}

h3{color: #060E45;}

h2, h3{
  font-size: 1.5rem;
}

button{
  font-family: 'Lora', serif;
}

p{
  font-size: 1rem; 
  padding-right: 1rem;
  font-family: 'Roboto', sans-serif;
}

header{
  margin-top: 4rem;
  text-align: center;
}

.circle{
  border:#060E45 solid;
  border-radius: 50%;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 2rem;
}

footer {
  font-size: .8rem; 
  padding-left: 1rem;
  color: rgb(170, 170, 170);
}

section {
  min-height: 200px;
  padding: 4% 0;
}

.contact-link{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: black;
  font-size: 15px;
}

.contact-link:hover{
  color:#BF032B;
}

.contact-links{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tech-icon {height: 50px;}

.middle{vertical-align: middle;}

.imgContainer{
  position: relative;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.viewProjectHover {
  opacity: 0;
  color: white;
  background-color: rgba(6, 103, 38, 0.3);
  font-size: 2em;
  position: absolute;
  top: 50%;
  max-width: 800px;
  margin:0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
  left: 0;
  right: 0;
}

.imgContainer:hover .viewProjectHover {
  opacity: 1;
}

.imgContainer:hover .image {
  filter: grayscale(100%) blur(2px);
}


.image {
  width: 100%;
  height: auto;
  max-width: 800px;
}

nav {
  text-align: left;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  overflow: hidden;
  background-color: #060E45;
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: .2em;
  min-height: 54px;
}

.about, .projects{
  border: none;
  padding: 10px 10px;
  width: 100%;
  margin:0;
}

.links.open{
  display: flex;
  flex-direction:column;
  padding: 0px;
  margin:0px;
}



nav a {
  text-decoration: none;
  font-size: 15px;
  font-weight: bolder;
  padding: 2px;
  background:none;
  border:none;
  cursor: pointer;
  margin: 3px 0px 3px 10px;
  padding: 0px 10px;
  color: #F6D900;
  letter-spacing: .1em;
}

.link-button{
  text-decoration: none;
  background-color: #EEEEEE;
  color: #033888;
  padding: 2px;
  border: 2px solid #02265D;
  text-align: center;
  font-size: 1rem; 
  margin: .6rem;
  min-width: 120px;
}

.link-button:hover{
  color:white;
  background-color: #02265D;
}

.tech{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons{
  display: flex;
  justify-content: center ;
}


/* --------------responsive design-------------------- */
@media (min-width: 420px) {

  nav a {
    font-size: 18px;
  }

  .about-me{
    width:75%;
    float: left;
  }

  .contact{
    display: flex;
    flex-direction: column;
    width:25%;
    float: right;
  }

  .project{
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px #02265D;
  }

  .buttons{align-self: flex-start}

  .contact-links{
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .contact-link{
    flex-direction: row;
    align-items: flex-end;
    width: 160px;
    margin: 2px;
    font-size: 18px;
  }
  main{
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  }
}

@media (min-width: 950px) {
  main{
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    }

    nav a {
      font-size: 20px;
    }
}
